body {
    padding: 0;
    margin: 0;
}

.home {
    background-image: url("images/desktop/image-header.jpg");
    height: 100vh;
    background-size: cover;
    padding-top: 1%;
}

.navbar-brand {
    color: #fff !important;
    font-family: 'Barlow', sans-serif;
    font-size: 27px !important;
    float: left;
    margin-left: 5%;
}

.navbar-collapse {
    justify-content: end;
}

.custom-nav-link {
    font-family: 'Barlow', sans-serif;
    color: #d2feff !important;
    margin-top: 2%;
}

.custom-nav-link:hover {
    color: #e6e6e6 !important;
}

.btn {
    border-radius: 1.5rem !important;
    font-family: 'Fraunces', serif !important;
}

.heading {
    font-size: 3rem;
    padding: 7%;
    text-align: center;
    color: #fff;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.2em;
}

.arrow {
    display: block;
    margin: auto;
    margin-top: 5%;
}

#about {
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: 74vh;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.about-text {
    font-family: 'Barlow', sans-serif;
    margin-top: 5%;
    font-size: 18px;
    color: #8f8d97;
    
}

.learn-more {
    padding: 0 2%;
    font-family: 'Fraunces', serif;
    color: #1d242e;
    text-decoration: none;
}

.transform:hover {
    border-bottom: solid 5px #ffd302 ;
    margin-top: 0;
}

.img-about {
    width: 100%;
}

.img-about-copy {
    display: none;
}

.heading-about {
    color: #252f3f;
    font-family: 'Fraunces', serif;
    font-size: 3rem;
}

.audience:hover {
    border-bottom: solid 5px #fe7264;
    margin-top: 0;
}

#services {
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: 74vh;
}

.graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-size: cover;
}

.services-content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.heading-graphic-design {
    color: #1f564a;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    text-align: center;
}

.graphic-design-text {
    font-family: 'Barlow', sans-serif;
    color: #1f564a;
    margin-top: 5%;
    font-size: 14px;
    text-align: center;
}

.photography {
    background-image: url("images/desktop/image-photography.jpg");
    background-size: cover;
}

.heading-photography {
    color: #14516f;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    text-align: center;
}

.photography-text {
    font-family: 'Barlow', sans-serif;
    color: #14516f;
    margin-top: 5%;
    font-size: 14px;
    text-align: center;
}

#projects {
    padding: 7% 12%;
}

.testimonial-heading {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    color: #b2b1b2;
    text-align: center;
    margin-bottom: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    column-gap: 5%;
}

.testimonial-img {
    border-radius: 100%;
    margin-bottom: 10%;
    width: 30%;
}

.testimonial-text {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: #636568;
    margin-bottom: 15%;
}

.testimonial-name {
    color: #252b31;
    font-family: 'Fraunces', serif;
}

.testimonial-post {
    color: #c1c1c1;
}

.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.img {
    width: 100%;
}

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #90d4c5;
}

.footer-heading {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    color: #2b7364;
    margin-bottom: 5%;
}

.footer-links {
    font-family: 'Barlow', sans-serif;
    color: #478e7e;
    margin: 2%;
    text-decoration: none;
    font-size: 18px;
} 

.footer-links:hover {
    color: #fff;
}

.link {
    text-decoration: none;
}

.footer-social {
    margin: 8% 1% 0;
    color: #478e7e;
}

.footer-social:hover {
    color: #fff;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
    .home {
        background-image: url("images/mobile/image-header.jpg");
        background-size: cover;
    }
    
    .navbar-nav {
        text-align: center;
        background-color: #fffbf8;
        margin: 3%;
    }
    
    .arrow {
        margin-top: 15%;
    }

    .custom-nav-link {
        font-family: 'Barlow', sans-serif;
        color: #84818c !important;
        margin-top: 2%;
    }
    
    .custom-nav-link:hover {
        color: #d2feff !important;
    }
    
    .btn {
        background-color: #fbd700 !important;
    }
    
    .heading {
        margin-top: 10%;
    }
    
    #about {
        grid-template-columns: 50vw auto;
        grid-template-rows: 29vh;
    }
    
    .about {
        width: 100%;
        padding: 2% 5%;
    }
    
    .heading-about {
        font-size: 2.5rem;
    }

    #services {
        grid-template-rows: 30vh;
    }
    
    .services-content {
        width: 100%;
        padding: 2% 5%;
    }
    
    .heading-graphic-design {
        font-size: 1.8rem;
    }
    
    .graphic-design-text {
        margin-top: 3%;
    }
    
    .heading-photography {
        font-size: 1.8rem;
    }
    
    .photography-text {
        margin-top: 3%;
    }
    

    #projects {
        padding-left: 20%;
        padding-right: 20%;
    }

    .testimonial-heading {
        margin-bottom: 0;
    }
    
    .grid-container {
        grid-template-columns: auto;
    }
    
    .testimonial-img {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 20%;
    }
    
    .testimonial-text {
        margin-bottom: 5%;
    }
    
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
    .img {
        width: 100%;
    }
    
    #footer {
        padding: 7% 15%;
        text-align: center;
        background-color: #90d4c5;
    }
    
    .footer-heading {
        font-family: 'Barlow', sans-serif;
        font-size: 2rem;
        color: #2b7364;
        margin-bottom: 5%;
    }
    
    .footer-links {
        font-family: 'Barlow', sans-serif;
        color: #478e7e;
        margin: 2%;
        text-decoration: none;
        font-size: 18px;
    } 
    
    .footer-links:hover {
        color: #fff;
    }
    
    .link {
        text-decoration: none;
    }
    
    .footer-social {
        margin: 8% 1% 0;
        color: #478e7e;
    }
    
    .footer-social:hover {
        color: #fff;
    }
    
}


@media only screen and (max-width: 600px) {
    .home {
        background-image: url("images/mobile/image-header.jpg");
        background-size: cover;
        height: 80vh;
    }
    
    .navbar-nav {
        text-align: center;
        background-color: #fffbf8;
        margin: 3%;
    }
    
    .custom-nav-link {
        font-family: 'Barlow', sans-serif;
        color: #84818c !important;
        margin-top: 2%;
    }
    
    .custom-nav-link:hover {
        color: #d2feff !important;
    }
    
    .btn {
        background-color: #fbd700 !important;
    }
    
    .heading {
        font-size: 2.5rem;
        line-height: 1.5;
    }
   
    #about {
        display: block;
    }
    
    .about {
        padding: 5% 7%;
        width: 100%;
        text-align: center;
    }
    
    .heading-about {
        font-size: 2rem;
    }

    .about-text {
        font-size: 18px;
    }

    .img-about-copy {
        display: block;
    }

    .img-about-egg {
        display: none;
    }
    
    #services {
        display: block;
    }
    
    .graphic-design {
        background-image: url("images/mobile/image-graphic-design.jpg");
        height: 90vh;
    }
    
    .services-content {
        width: 80%;
    }
    
    .heading-graphic-design {
        font-size: 1.5rem;
    }
    
    .photography {
        background-image: url("images/mobile/image-photography.jpg");
        height: 90vh;
    }
    
    .heading-photography {
        font-size: 1.5rem;
    }
    
    #projects {
        padding: 10% 5%;
    }
    
    .testimonial-heading {
        font-size: 1rem;
        margin-bottom: 0;
    }
    
    .grid-container {
        display: block;
    }
    
    .testimonial-img {
        width: 20%;
        margin-top: 25%;
    }
    
    .testimonial-text {
        margin-bottom: 10%;
    }
    
    .testimonial-post {
        color: #c1c1c1;
    }
    
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    #footer {
        padding: 7% 5%;
    }
    
    .footer-heading {
        font-size: 1.5rem;
        color: #2b7364;
        margin-bottom: 5%;
    }
    
    .footer-links {
        margin: 5%;
        font-size: 14px;
    } 
    
    .footer-links:hover {
        color: #fff;
    }
    
}